{{- with secret "kv/data/bf-app" -}}
{
  "database": {
    "username": "{{ .Data.data.db_username }}",
    "password": "{{ .Data.data.db_password }}",
    "host": "{{ .Data.data.db_host }}",
    "port": {{ .Data.data.db_port }}
  },
  "api": {
    "key": "{{ .Data.data.api_key }}",
    "secret": "{{ .Data.data.api_secret }}"
  }
}
{{- end -}}
